/* @import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');


*{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.home-text{
    font-family: 'Fredoka One', cursive;
}
.btn-outline-orange{
    border: 1px solid #FD7F32;
    color: #FD7F32;
}
.btn-outline-orange:hover{
    background-color: #FD7F32;
    color: #fff;
}


.reveal{
    position: relative;
    transform: translateY(150px);
    opacity: 0;
    transition: 1s all ease;
}
  
.reveal.active{
    transform: scale(1);
    opacity: 1;
}

.zoomin{
    position: relative;
    transform: translateY(150px);
    opacity: 0;
    transition: 1s all ease;
}
  
.zoomin.Zoomin{
    transform: scale(1);
    opacity: 1;
}
.logo-color{
    color: #FD7F32;
}
.logo-bg-color{
    background-color: #FD7F32;
}
.logo-border{
    border: 1px solid #FD7F32;
}
.logo-border:hover{
    background-color: #FD7F32;
    color: #fff;
}
.leftin{
    position: relative;
    transform: translateX(-500px);
    /* transform: translateY(150px); */
    opacity: 0;
    transition: 1s all ease;
}
  
.leftin.Leftin{
    transform: translateX(0);
    opacity: 1;
}

.rightin{
    position: relative;
    transform: translateX(500px);
    /* transform: translateY(150px); */
    opacity: 0;
    transition: 1s all ease;
}
  
.rightin.Rightin{
    transform: translateX(0);
    opacity: 1;
}

.left-slide-in{
    animation: moveleft 1s linear 1;
    animation-delay: 1s;
    visibility: hidden;
    animation-fill-mode: forwards;
}
@keyframes moveleft{
    0%{
        transform: translateX(-100px);
        visibility: visible;
    }
    100%{
        transform:translateX(0);
        visibility: visible;
    }
}
.right-slide-in{
    animation: moveright 1s linear 1;
    animation-delay: 1s;
    visibility: hidden;
    animation-fill-mode: forwards;
}
@keyframes moveright{
    0%{
        transform: translateX(100px);
        visibility: visible;
    }
    100%{
        transform:translateX(0);
        visibility: visible;
    }
}
.slideup-in{
    animation: moveup 1s linear 1;
    animation-delay: 1s;
    visibility: hidden;
    animation-fill-mode: forwards;
}
@keyframes moveup{
    0%{
        transform: translateY(100px);
        visibility: visible;
    }
    100%{
        transform:translateY(0);
        visibility: visible;
    }
}

#contact{
    background: linear-gradient(to bottom, #003366 0%, #666699 100%);
    width: 100%;
    height: 200px;

}
.form-style{
    width: 100%;
    height: 40px;
    border-radius: 30px;
    border: none;
    outline: none;
}
  
.input-group-text{
    border-radius: 30px;
    height: 40px;
    background-color: white;
    border: none;
}

.v-line{
    background-color: #FD7F32;
    padding: 0px 4px;
    border-radius: 4px;
    margin-right: 10px;
}